
.timeline {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.timeline-item {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  background: #edfaed;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  overflow: hidden;
}

.timeline-item.right::before,
.timeline-item.left::before {
  content: '';
  position: absolute;
  top: 0;
  width: 40px;
  height: 100%;
  background: inherit;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.timeline-item.right::before {
  left: auto;
  right: -20px;
  transform: rotateY(180deg);
}

.timeline-item.left::before {
  left: -20px;
}

.content {
  padding: 1.5rem 2rem;
  color: #1b5229;
}

.role {
  font-weight: 600;
  color: #5d9066;
  margin-bottom: 0.5rem;
}

.role span {
  margin-left: 1rem;
  color: #5d9066;
}

#topic {
  margin: 0.2rem 0 1rem;
  color: #17a33a;
}
